.portfolioIMgs {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.contactsForm {
  max-width: 400px;
  width: 100%;
  padding: 10px;
  padding-bottom: 20px;
  text-align: justify;
}
.contactsForm input {
  width: 100%;
}
.contactsForm textarea {
  width: 100%;
  text-align: left;
  height: 200px;
}
body {
  background-color: lightgrey;
}
.pageTitle {
  padding-top: 15px;
  margin: 10px;
  border-bottom: 1px solid lightgrey;
}
.pageTitle p {
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: left;
}
.imageCaption {
  margin-top: -70px;
  margin-bottom: 40px;
  background-color: black;
  color: white;
  opacity: 0.8;
  padding: 10px;
}
.wrapper {
  background-color: white;
  width: 70%;
}
.footer {
  text-align: center;
  padding: 10px;
  background-color: darkgray;
  margin-top: 20px;
  border-top: 5px solid white;
}

@media only screen and (max-width: 700px) {
  .wrapper {
    width: 90%;
  }
}
@media only screen and (min-width: 1000px) {
  .footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  #portfolioImgsDiv {
    margin-bottom: 60px;
  }
}
